table{
	width: 100%;
	border: 1px inset purple;
	font-family: Oswald, sans-serif;
}

td:hover{
	background-color: yellow;
	color: black;
}

tr, th{
	background-color: black;
	color: cornsilk;
}

tr, td{
	background-color: indigo;
	color: white;
}